/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* VARIABLES */
:root {
  --darker: #212529;
  --dark: #495057;
  --light: #f8f9fa;
  --blue: #00afb9;

  --short-animation-time: .5s;
  --medium-animation-duration: 1s;
  --big-animation-duration: 3s;
}

/* CSS RESET */
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* body LAYOUT */
body {
  margin-bottom: 5rem;
}

/* body STYLES */
body {
  background-color: var(--darker);
  color: var(--light);
}

/* main LAYOUT */
main {
  width: 80%;
  margin: 0 auto;
}

/* h1 STYLES */

h1 {
  color: var(--blue);
  text-align: center;
  margin: 3rem 0;
  animation: heading-slide var(--big-animation-duration) infinite; 
}

/* ADD YOUR CODE HERE */
/* @keyframes heading-slide {
  
} */
@keyframes heading-slide{
  50%{
    transform: translateY(50%);
  }
  
}

/* .cards-container LAYOUT */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fit-content);
  gap: 2rem;
}

/* .card STYLES */
.card {
  background-color: var(--dark);
  padding: 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  /* ADD YOUR CODE HERE */
}

/* ADD YOUR CODE HERE */

/* .card LAYOUT */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* .card ANIMATION */
.card {
  /* ADD YOUR CODE HERE */
  filter: blur(3px);
  transition:var(--short-animation-duration) ease-in-out;
}


/* ADD YOUR CODE HERE */
/* @keyframes cards-slide {
} */
.card:hover{
 filter: blur(0);
}

/* .tech-icon LAYOUT */
.tech-icon {
  width: 6rem;
  display: block;
}

/* .tech-icon STYLES */
.tech-icon {
  /* ADD CODE HERE */
  filter:grayscale(100%);
  background-color: var(--dark);
  color: var(--light);
}

/* .tech-icon STYLES */
.card:hover > .tech-icon {
  /* ADD CODE HERE */
 filter: grayscale(0);
}

/* p STYLES */
p {
  text-align: center;
}

/* button RESET */
.see-more-btn {
  appearance: none;
  border: none;
  background: none;
}

/* .see-more-btn STYLES */
.see-more-btn {
  text-transform: uppercase;
  font-size: .75rem;
  color: var(--blue);
  font-weight: bold;
  border-radius: .25rem;
  padding: .5rem 1.25rem;
  border: 1px solid var(--blue);
  transition: transform .5s ease-in-out;
  /* ADD YOUR CODE HERE */
}

/* .see-more-btn STYLES */
.see-more-btn:hover {
  cursor: pointer;
  color: var(--light);
  background-color: var(--blue);
  transform:translateY(-10%);
  /* ADD YOUR CODE HERE */
}
